.content-main{
  background-color: #535353;
}
.barrapesquisa{
    height: 20px;
    border: 1px solid #838383;
    width: 200px;
    border-radius: 5px;
    font-size: 1.4rem;
}
.barrapesquisa:focus-visible{
    outline: 1px solid rgba(83,83,83);
}
.pesquisa{
    padding: 30px;
    background-color: #838383;
}
.projeto_content{
  transition: background-color 0.5s ease, transform 0.5s ease;
}
.projeto_content:hover{
  background-color: whitesmoke;
}